.env
venv/
__pycache__/
*.pyc

app.py_
cobasns.py
templates/input_token.html
templates/index_.html

lambda/layers/
lambda/layers/*
lambda/layers/packages

# .github/workflows/deploy.yml

# dockerfile

terraform/main.tf
terraform/.terraform
terraform/.terraform/*
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terrafrom/terraform.tfstate.backup

terraform/techno_get.zip
terraform/techno_post.zip
terraform/techno_s3.zip

# kubernetes/deploy.yaml

deployment/deploy.yaml
deployment/service.yaml

# .github/workflows/deploy.yml

.env
venv/